


.c-subnav{



  @include t-dark();

  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    text-align: center;

    li{
      display: inline-block;

      margin: 5px 10px;
      list-style: none;
      padding: 5px 10px;
      border-radius: 10px;

      @include t-primary();

      a{

        font-size: 12px;

      }
    }

  }


}

@media all and (min-width: map-get($breakpoints,medium)){

  .c-subnav{

    padding: $global-padding/2 $global-padding;
    display: block;
    display: flex;
    flex-direction: row-reverse;

    ul{
      li{

        float: left;
        margin: 0 10px;
        list-style: none;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 12px;

        a{

        }
      }
    }

  }

}