

$primary-color: #2196F3;
$primary-color-dark: #1976D2;
$accent-color: #FF4081;

$border-default: 1px solid grey;

$main-font: '';
$secondary-font: '';

$text-size : 16px;
$text-color: #212121;

$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
);

$global-padding: 30px;

