

.s-images{

  padding-top: 6px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;

  .s-images__column{
    width: 100%;
    img{
      width: 100%;
      -webkit-transition: .5s opacity;
      transition: .5s opacity;
    }
  }

}

@media all and (min-width: map-get($breakpoints,medium)) {

  .s-images{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .s-images__column{
      width: 33.333%;
      img{
        width: 100%;
        -webkit-transition: .5s opacity;
        transition: .5s opacity;
      }
    }




  }

}